<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/htmlhead::head}">
</head>
<body>
    <nav th:replace="~{fragments/header::header}">
    </nav>
    <aside th:replace="~{fragments/sidemenu::aside-menu}">
    </aside>
    <main>
        <div class="container">
            <h3 class="header" th:text="@{Room {roomName}(roomName=${name})}"></h3>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12" method="post">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <label>Room Name</label>
                                        <input type="text" autocomplete="off" disabled th:value="${name}">
                                    </div>
                                    <div class="input-field col s6">
                                        <label>Room Capacity</label>
                                        <input type="text" autocomplete="off" disabled th:value="${capacity}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer::footer}">
    </footer>
    <div th:replace="~{fragments/generalscript::generalscript}">
    </div>
</body>
</html>