<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/htmlhead::head}">
</head>
<body>
    <div class="body-wrapper">
        <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open" th:replace="~{fragments/sidemenu::aside-menu}">
        </aside>
        <div class="main-wrapper mdc-drawer-app-content">
            <header class="mdc-top-app-bar" th:replace="~{fragments/header::header}">
            </header>
            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                </main>
                <footer th:replace="~{fragments/footer::footer}">
                </footer>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/generalscript::generalscript}">
    </div>
</body>
</html>