<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/htmlhead::head}">
</head>
<body>
    <nav th:replace="~{fragments/header::header}">
    </nav>
    <aside th:replace="~{fragments/sidemenu::aside-menu}">
    </aside>
    <main>
        <div class="container">
            <h3 class="header">Reservation Detail</h3>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12" method="post">
                                <div class="row">
                                    <div class="col s12">
                                        <label>Room Name</label>
                                        <input type="text" disabled th:value="${Reservation.room_id}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <label>Date</label>
                                        <input type="text" disabled th:value="${Reservation.requestDate}">
                                    </div>
                                    <div class="col s6 m3">
                                        <label>Start Time</label>
                                         <input type="text" disabled th:value="${Reservation.startTime}">
                                    </div>
                                    <div class="col s6 m3">
                                        <label>Start end</label>
                                        <input type="text" disabled th:value="${Reservation.endTime}">
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="input-field col s12">
                                        <label>Description</label>
                                        <textarea id="description" name="description" class="materialize-textarea"></textarea>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label>Snack Request</label>
                                        <textarea disabled class="materialize-textarea" th:text="${Reservation.request_snack}"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col 6">
                                        <label>Status</label>
                                        <input type="text" disabled th:value="${Reservation.status}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer::footer}">
    </footer>
    <div th:replace="~{fragments/generalscript::generalscript}">
    </div>
</body>
</html>